<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongdu.cashloan.cl.mapper.CompanyProdDetailMapper">
  <resultMap id="BaseResultMap" type="com.rongdu.cashloan.cl.domain.CompanyProdDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="cp_type" jdbcType="INTEGER" property="cp_type" />
    <result column="org_id" jdbcType="BIGINT" property="org_id" />
    <result column="proc_name" jdbcType="VARCHAR" property="proc_name" />
    <result column="logo_path" jdbcType="VARCHAR" property="logo_path" />
    <result column="official_url" jdbcType="VARCHAR" property="official_url" />
    <result column="proc_flag" jdbcType="INTEGER" property="proc_flag" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="audit_person" jdbcType="VARCHAR" property="audit_person" />
    <result column="audit_state" jdbcType="INTEGER" property="audit_state" />
    <result column="audit_message" jdbcType="VARCHAR" property="audit_message" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.rongdu.cashloan.cl.domain.CompanyProdDetail">
    <result column="proc_info" jdbcType="LONGVARCHAR" property="proc_info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, cp_type, org_id, proc_name, logo_path, official_url, proc_flag, status, 
    sort, audit_person, audit_state, audit_message
  </sql>
  <sql id="Blob_Column_List">
    proc_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b_company_prod_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from b_company_prod_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rongdu.cashloan.cl.domain.CompanyProdDetail">
    insert into b_company_prod_detail (id, type, cp_type, 
      org_id, proc_name, logo_path, 
      official_url, proc_flag, status, 
      sort, audit_person, audit_state, 
      audit_message, proc_info)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{cp_type,jdbcType=INTEGER}, 
      #{org_id,jdbcType=BIGINT}, #{proc_name,jdbcType=VARCHAR}, #{logo_path,jdbcType=VARCHAR}, 
      #{official_url,jdbcType=VARCHAR}, #{proc_flag,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{audit_person,jdbcType=VARCHAR}, #{audit_state,jdbcType=INTEGER}, 
      #{audit_message,jdbcType=VARCHAR}, #{proc_info,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rongdu.cashloan.cl.domain.CompanyProdDetail">
    insert into b_company_prod_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="cp_type != null">
        cp_type,
      </if>
      <if test="org_id != null">
        org_id,
      </if>
      <if test="proc_name != null">
        proc_name,
      </if>
      <if test="logo_path != null">
        logo_path,
      </if>
      <if test="official_url != null">
        official_url,
      </if>
      <if test="proc_flag != null">
        proc_flag,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="audit_person != null">
        audit_person,
      </if>
      <if test="audit_state != null">
        audit_state,
      </if>
      <if test="audit_message != null">
        audit_message,
      </if>
      <if test="proc_info != null">
        proc_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="cp_type != null">
        #{cp_type,jdbcType=INTEGER},
      </if>
      <if test="org_id != null">
        #{org_id,jdbcType=BIGINT},
      </if>
      <if test="proc_name != null">
        #{proc_name,jdbcType=VARCHAR},
      </if>
      <if test="logo_path != null">
        #{logo_path,jdbcType=VARCHAR},
      </if>
      <if test="official_url != null">
        #{official_url,jdbcType=VARCHAR},
      </if>
      <if test="proc_flag != null">
        #{proc_flag,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="audit_person != null">
        #{audit_person,jdbcType=VARCHAR},
      </if>
      <if test="audit_state != null">
        #{audit_state,jdbcType=INTEGER},
      </if>
      <if test="audit_message != null">
        #{audit_message,jdbcType=VARCHAR},
      </if>
      <if test="proc_info != null">
        #{proc_info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rongdu.cashloan.cl.domain.CompanyProdDetail">
    update b_company_prod_detail
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="cp_type != null">
        cp_type = #{cp_type,jdbcType=INTEGER},
      </if>
      <if test="org_id != null">
        org_id = #{org_id,jdbcType=BIGINT},
      </if>
      <if test="proc_name != null">
        proc_name = #{proc_name,jdbcType=VARCHAR},
      </if>
      <if test="logo_path != null">
        logo_path = #{logo_path,jdbcType=VARCHAR},
      </if>
      <if test="official_url != null">
        official_url = #{official_url,jdbcType=VARCHAR},
      </if>
      <if test="proc_flag != null">
        proc_flag = #{proc_flag,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="audit_person != null">
        audit_person = #{audit_person,jdbcType=VARCHAR},
      </if>
      <if test="audit_state != null">
        audit_state = #{audit_state,jdbcType=INTEGER},
      </if>
      <if test="audit_message != null">
        audit_message = #{audit_message,jdbcType=VARCHAR},
      </if>
      <if test="proc_info != null">
        proc_info = #{proc_info,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.rongdu.cashloan.cl.domain.CompanyProdDetail">
    update b_company_prod_detail
    set type = #{type,jdbcType=INTEGER},
      cp_type = #{cp_type,jdbcType=INTEGER},
      org_id = #{org_id,jdbcType=BIGINT},
      proc_name = #{proc_name,jdbcType=VARCHAR},
      logo_path = #{logo_path,jdbcType=VARCHAR},
      official_url = #{official_url,jdbcType=VARCHAR},
      proc_flag = #{proc_flag,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      audit_person = #{audit_person,jdbcType=VARCHAR},
      audit_state = #{audit_state,jdbcType=INTEGER},
      audit_message = #{audit_message,jdbcType=VARCHAR},
      proc_info = #{proc_info,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rongdu.cashloan.cl.domain.CompanyProdDetail">
    update b_company_prod_detail
    set type = #{type,jdbcType=INTEGER},
      cp_type = #{cp_type,jdbcType=INTEGER},
      org_id = #{org_id,jdbcType=BIGINT},
      proc_name = #{proc_name,jdbcType=VARCHAR},
      logo_path = #{logo_path,jdbcType=VARCHAR},
      official_url = #{official_url,jdbcType=VARCHAR},
      proc_flag = #{proc_flag,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      audit_person = #{audit_person,jdbcType=VARCHAR},
      audit_state = #{audit_state,jdbcType=INTEGER},
      audit_message = #{audit_message,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="listCompanyprodDetail" parameterType="com.rongdu.cashloan.cl.domain.CompanyProdDetail" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b_company_prod_detail
    <where>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        and type = #{type,jdbcType=INTEGER},
      </if>
      <if test="cp_type != null">
        and cp_type = #{cp_type,jdbcType=INTEGER},
      </if>
      <if test="org_id != null">
        and org_id = #{org_id,jdbcType=BIGINT},
      </if>
      <if test="proc_name != null">
        and proc_name = #{proc_name,jdbcType=VARCHAR},
      </if>
      <if test="logo_path != null">
        and logo_path = #{logo_path,jdbcType=VARCHAR},
      </if>
      <if test="official_url != null">
        and official_url = #{official_url,jdbcType=VARCHAR},
      </if>
      <if test="proc_flag != null">
        and proc_flag = #{proc_flag,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        and sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="audit_person != null">
        and audit_person = #{audit_person,jdbcType=VARCHAR},
      </if>
      <if test="audit_state != null">
        and audit_state = #{audit_state,jdbcType=INTEGER},
      </if>
      <if test="audit_message != null">
        and audit_message = #{audit_message,jdbcType=VARCHAR},
      </if>
      <if test="proc_info != null">
        and proc_info = #{proc_info,jdbcType=LONGVARCHAR},
      </if>
    </where>
  </select>
</mapper>