<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongdu.cashloan.cl.mapper.IProblemGeneralMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.rongdu.cashloan.cl.domain.ProblemGeneral">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="problem_name" property="problem_name" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getListProblemGeneral" resultMap="BaseResultMap" >
         select sort,problem_name from jj_problem_general
    </select>

    <resultMap id="BaseResultDetailMap" type="com.rongdu.cashloan.cl.domain.ProblemGeneralDetail">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="parent_sort" property="parent_sort" jdbcType="INTEGER" />
        <result column="small_sort" property="small_sort" jdbcType="INTEGER" />
        <result column="problem_answer" property="problem_answer" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getListProblemGeneralDetail" resultMap="BaseResultDetailMap" parameterType="java.lang.Integer">
        select parent_sort,small_sort,problem_answer from jj_problem_general_detail where parent_sort = #{parent_sort}
    </select>
    
</mapper>
