<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 首页数据统计 -->
<mapper namespace="com.rongdu.cashloan.cl.mapper.SystemCountMapper">
    <resultMap id="mapResult" type="HashMap">  
        <result property="key" column="ks" />  
        <result property="value" column="vs" />  
    </resultMap>  
    
    <!-- 统计当日注册用户数量 -->
    <select id="todayRegister" resultType="java.lang.Integer">
    	select count(id) from cl_user
    	where DATE_FORMAT(regist_time,'%Y-%m-%d') = DATE_FORMAT(SYSDATE(),'%Y-%m-%d')
    </select>



	<!-- 统计当月注册用户数量 -->
	<select id="monthRegister" resultType="java.lang.Integer">
		select count(id) from cl_user
		where DATE_FORMAT(regist_time,'%Y-%m') = DATE_FORMAT(SYSDATE(),'%Y-%m')
	</select>


	<!-- 统计总注册用户数量 -->
	<select id="totalRegister" resultType="java.lang.Integer">
		select count(id) from cl_user
	</select>




	<!-- 15日注册数 -->
    <select id="countFifteenDaysRegister" resultType="map">
		select DATE_FORMAT(regist_time,'%Y-%m-%d') as regist_time,count(id) as user_count from cl_user
		 where
		DATE_FORMAT(regist_time,'%Y-%m-%d') >= DATE_FORMAT(DATE_SUB(SYSDATE(), INTERVAL 15 DAY),'%Y-%m-%d')
		<![CDATA[ and DATE_FORMAT(regist_time,'%Y-%m-%d') <= DATE_FORMAT(SYSDATE(),'%Y-%m-%d')   group by regist_time order by DATE_FORMAT(regist_time,'%Y-%m-%d')]]>
    </select>

	<!-- 产品uv总数统计 -->
	<select id="countPnameUV" resultType="map">
		select  p_name,sum(click_count) as p_count from cl_flow_uv
		where
		count_date >= DATE_FORMAT(DATE_SUB(SYSDATE(), INTERVAL 15 DAY),'%Y-%m-%d')
	<![CDATA[ and count_date <= DATE_FORMAT(SYSDATE(),'%Y-%m-%d')   group by p_name ]]>
	</select>


	<!-- 15日注册数  -->
	<!--<select id="countFifteenDaysRegister" resultType="map">-->
		<!--select repay_time 'key',count(id) 'value' from-->
		<!--(select id,DATE_FORMAT(repay_time,'%Y-%m-%d') repay_time-->
		<!--from cl_borrow_repay-->
		<!--where DATE_FORMAT(repay_time,'%Y-%m-%d') >= DATE_FORMAT(DATE_SUB(SYSDATE(), INTERVAL 15 DAY),'%Y-%m-%d')-->
		<!--<![CDATA[ and DATE_FORMAT(repay_time,'%Y-%m-%d') <= DATE_FORMAT(SYSDATE(),'%Y-%m-%d') ]]>-->
		<!--) t-->
		<!--GROUP BY repay_time-->
	<!--</select>-->


	<!--&lt;!&ndash; 15日点击数  &ndash;&gt;-->
	<!--<select id="countFifteenDaysNeedRepay" resultType="map">-->
		<!--select repay_time 'key',count(id) 'value' from-->
		<!--(select id,DATE_FORMAT(repay_time,'%Y-%m-%d') repay_time-->
		<!--from cl_borrow_repay-->
		<!--where DATE_FORMAT(repay_time,'%Y-%m-%d') >= DATE_FORMAT(DATE_SUB(SYSDATE(), INTERVAL 15 DAY),'%Y-%m-%d')-->
		<!--<![CDATA[ and DATE_FORMAT(repay_time,'%Y-%m-%d') <= DATE_FORMAT(SYSDATE(),'%Y-%m-%d') ]]>-->
		<!--) t-->
		<!--GROUP BY repay_time-->
	<!--</select>-->





    <!-- 统计当日借款申请的数量 -->
    <select id="countBorrow" resultType="java.lang.Double">
    	select count(id) from cl_borrow 
    	where DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(SYSDATE(),'%Y-%m-%d')
    </select>
    <!-- 统计当日借款申请通过的数量 -->
    <select id="countBorrowPass" resultType="java.lang.Double">
    	select count(id) from cl_borrow_progress 
    	where DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(SYSDATE(),'%Y-%m-%d') 
    		and state in ('20','26') 
    </select>
    <!-- 统计当日借款申请放款数量 -->
    <select id="countBorrowLoan" resultType="java.lang.Integer">
    	select count(id) from cl_borrow_progress 
    	where DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(SYSDATE(),'%Y-%m-%d') 
    	and state = '30'
    </select>
    <!-- 统计当日还款量 -->
    <select id="countBorrowRepay" resultType="java.lang.Integer">
    	select count(id) from cl_borrow_repay_log
    	where DATE_FORMAT(repay_time,'%Y-%m-%d') = DATE_FORMAT(SYSDATE(),'%Y-%m-%d') 
    </select>
    <!-- 统计历史放款总量 -->
    <select id="countBorrowLoanHistory" resultType="java.lang.Integer">
    	select count(id) from cl_borrow_progress where state = '30'
    </select>
    <!-- 统计历史还款总量 -->
    <select id="countBorrowRepayHistory" resultType="java.lang.Integer">
    	select count(id) from cl_borrow_repay_log
    </select>
    <!-- 待还款总额 -->
    <select id="sumBorrowNeedRepay" resultType="java.lang.Double">
    	select sum(amount+penalty_amout) from cl_borrow_repay where state = '20'
    </select>
    <!-- 逾期未还款总额 -->
    <select id="sumBorrowOverdueRepay" resultType="java.lang.Double">
    	select sum(amount+penalty_amout) from cl_borrow_repay where state = '20' and penalty_amout>0
    </select>
    <!-- 当月融资金额(按地区分组) -->
    <select id="sumMonthBorrowAmtByProvince" resultType="map">
    	<!-- select address 'key',sum(amount) 'value' from
    		( select amount,(case when LOCATE('省', address) >0 then left (address, LOCATE('省', address)-1) when trim(address) in ('北京','上海') then trim(address) end ) address 
    			from cl_borrow 
    			where  DATE_FORMAT(create_time,'%Y-%m-%d') >= CONCAT(DATE_FORMAT(SYSDATE(),'%Y-%m'),'-01') 
    			<![CDATA[ and DATE_FORMAT(create_time,'%Y-%m-%d') <= DATE_FORMAT(SYSDATE(),'%Y-%m-%d') ]]>	
    		) t 
    	GROUP BY address -->

    	select amount as 'value',address 'key'
    			from cl_borrow
    			where  DATE_FORMAT(create_time,'%Y-%m-%d') >= CONCAT(DATE_FORMAT(SYSDATE(),'%Y-%m'),'-01')
    			<![CDATA[ and DATE_FORMAT(create_time,'%Y-%m-%d') <= DATE_FORMAT(SYSDATE(),'%Y-%m-%d') ]]>

    </select>
    <!-- 当月借款次数(按地区分组) -->
    <select id="countMonthBorrowByProvince" resultType="map">
    	<!-- select address 'key',count(id) 'value' from
    		(select id,(case when LOCATE('省', address) >0 then left (address, LOCATE('省', address)-1) when trim(address) in ('北京','上海') then trim(address) end ) address 
    			from cl_borrow 
    			where  DATE_FORMAT(create_time,'%Y-%m-%d') >= CONCAT(DATE_FORMAT(SYSDATE(),'%Y-%m'),'-01') 
    			<![CDATA[ and DATE_FORMAT(create_time,'%Y-%m-%d') <= DATE_FORMAT(SYSDATE(),'%Y-%m-%d') ]]>	
    		) t 
    	GROUP BY address -->
		select id as 'value', address as 'key'
		from cl_borrow
		where  DATE_FORMAT(create_time,'%Y-%m-%d') >= CONCAT(DATE_FORMAT(SYSDATE(),'%Y-%m'),'-01')
		<![CDATA[ and DATE_FORMAT(create_time,'%Y-%m-%d') <= DATE_FORMAT(SYSDATE(),'%Y-%m-%d') ]]>

    </select>
    <!-- 当月还款金额(按地区分组) -->
    <select id="sumMonthBorrowRepayByProvince" resultType="map" parameterType="map">
    	<!-- select address 'key',sum(amount) 'value' from (select amount,(case when LOCATE('省', address) >0 then left (address, LOCATE('省', address)-1) when trim(address) in ('北京','上海') then trim(address) end ) address from cl_borrow where id in (select p.borrow_id from cl_borrow_progress p where  DATE_FORMAT(p.create_time,'%Y-%m-%d') >= CONCAT(DATE_FORMAT(SYSDATE(),'%Y-%m'),'-01') and p.state in(40,41)) ) t GROUP BY address-->
		select amount 'value',address 'key' from cl_borrow where id in
		<foreach item="item" index="index" collection="borrowIds" open="(" separator="," close=")">
			#{item, jdbcType=BIGINT}
		</foreach>
    </select>
    <!-- 当月新增用户(按地区分组) -->
    <select id="countMonthRegisterByProvince" resultType="map">
    	<!--select register_addr 'key',count(user_id) 'value' from (select bi.user_id,(case when LOCATE('省', bi.register_addr) >0 then left (bi.register_addr, LOCATE('省', bi.register_addr)-1) when trim(bi.register_addr) in ('北京','上海') then trim(bi.register_addr) end ) as register_addr from cl_user u LEFT JOIN cl_user_base_info bi on u.id = bi.user_id where (DATE_FORMAT(u.regist_time,'%Y-%m-%d') >= CONCAT(DATE_FORMAT(SYSDATE(),'%Y-%m'),'-01'))
    	and (bi.register_addr != '')
    	) t GROUP BY register_addr-->

	   select bi.user_id as 'value',bi.register_addr as 'key' from cl_user u INNER JOIN cl_user_base_info bi on u.id = bi.user_id where (DATE_FORMAT(u.regist_time,'%Y-%m-%d') >= CONCAT(DATE_FORMAT(SYSDATE(),'%Y-%m'),'-01'))
    	and (bi.register_addr != '')

    </select>
    <!-- 最近15日每天放款量  -->
    <select id="countFifteenDaysLoan"  resultType="map">
    	select create_time 'key',count(id) 'value' from 
    		(select id,DATE_FORMAT(create_time,'%Y-%m-%d') create_time 
    			from cl_borrow_progress 
    			where state = '30' 
    			and DATE_FORMAT(create_time,'%Y-%m-%d') >= DATE_FORMAT(DATE_SUB(SYSDATE(), INTERVAL 15 DAY),'%Y-%m-%d') 
    		) t 
    	GROUP BY create_time
    </select>
    <!-- 还款来源 10代扣，20银行卡转账，30支付宝转账 -->
    <select id="countRepaySource" resultType="map">
    	<!-- select repay_way 'key',count(id) 'value' from (select id,case when repay_way = '10' then '自动代扣' when repay_way = '20' then '银行卡转账'  when repay_way = '30' then '支付宝转账' else '其它' end  repay_way from cl_borrow_repay_log ) t GROUP BY repay_way -->
				SELECT
				id 'value',
				repay_way 'key'
				FROM
					cl_borrow_repay_log
</select>
    <!-- 最近15日应还款量 -->
    <select id="countFifteenDaysNeedRepay" resultType="map">
    	select repay_time 'key',count(id) 'value' from 
    		(select id,DATE_FORMAT(repay_time,'%Y-%m-%d') repay_time 
				from cl_borrow_repay
				where DATE_FORMAT(repay_time,'%Y-%m-%d') >= DATE_FORMAT(DATE_SUB(SYSDATE(), INTERVAL 15 DAY),'%Y-%m-%d') 
				<![CDATA[ and DATE_FORMAT(repay_time,'%Y-%m-%d') <= DATE_FORMAT(SYSDATE(),'%Y-%m-%d') ]]>	
			) t 
		GROUP BY repay_time
    </select>





    <!-- 最近15日实际还款量 -->
    <select id="countFifteenDaysRealRepay" resultType="map">
    	select create_time 'key',count(id) 'value' from 
    		(select id,DATE_FORMAT(create_time,'%Y-%m-%d') create_time 
    			from cl_borrow_progress 
    			where state = '40' 
    			and DATE_FORMAT(create_time,'%Y-%m-%d') >= DATE_FORMAT(DATE_SUB(SYSDATE(), INTERVAL 15 DAY),'%Y-%m-%d') 
    		) t 
    	GROUP BY create_time
    </select>
	<!-- 查询借款进度表，状态为40,41的 -->
	<select id="queryBorrowProgressBorrowId" resultType="map">
		<!-- select address 'key',sum(amount) 'value' from (select amount,(case when LOCATE('省', address) >0 then left (address, LOCATE('省', address)-1) when trim(address) in ('北京','上海') then trim(address) end ) address from cl_borrow where id in (select p.borrow_id from cl_borrow_progress p where  DATE_FORMAT(p.create_time,'%Y-%m-%d') >= CONCAT(DATE_FORMAT(SYSDATE(),'%Y-%m'),'-01') and p.state in(40,41)) ) t GROUP BY address-->
		select p.borrow_id as borrowId from cl_borrow_progress p where  DATE_FORMAT(p.create_time,'%Y-%m-%d') >= CONCAT(DATE_FORMAT(SYSDATE(),'%Y-%m'),'-01') AND p.state IN (40, 41)
	</select>
</mapper>
